div.banner {
  width: 1394px;
  height: 720px;
  background: url('../../assets/images/bg-1.jpeg');
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 320px 0 250px 0;
  position: relative;
  div.title {
    margin-top: -70px;
    position: relative;
    z-index: 5;
    font-size: 2.7em;
    font-weight: 300;
    color: #fff;
  }
  div.content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    z-index: 100;
    span {
      font-size: 1.2em;
      color: #fff;
    }
    span:nth-of-type(2) {
      margin-top: 5px;
    }
  }
  div.line {
    position: relative;
    z-index: 10;
    width: 180px;
    height: 2px;
    background: rgb(223, 226, 230);
    margin: 0 auto;
    margin-top: 40px;
  }
  div.contact {
    position: relative;
    z-index: 10;
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    i.fa-icon {
      color: #fff;
      font-size: 1.2em;
      cursor: pointer;
    }
    
  }
  div.cover {
    width: 1394px;
    height: 720px;
    position: absolute;
    top: 0;
    background: rgba(138, 138, 138, .5);
    z-index: 1;
  }
}