div.photo-wall {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  div.ww {
    display: flex;
    justify-content: space-evenly;
    img.imgList {
      margin: 20px 0;
      cursor:pointer;
      position: relative;
    }
    div.left {
      div.template {
        position: relative;
        z-index: 11;
        img {
          width: 332px;
          height: 224px;
        }
        &:nth-of-type(1)::after {
          content: "";
          opacity: 0;
          width: 312px;
          height: 204px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(1):hover::after{
          opacity: 1;
        }
        &:nth-of-type(1):hover div.title{
          opacity: 1;
          z-index: 111;
        }
        &:nth-of-type(1):hover div.content{
          opacity: 1;
          z-index: 111;
        }
        &:nth-of-type(2)::after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 204px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(2):hover::after {
          opacity: 1;
        }
        &:nth-of-type(2):hover div.title {
          opacity: 1;
          z-index: 111;
        }
        &:nth-of-type(2):hover div.content {
          z-index: 111;
          opacity: 1;
        }
        div.title {
          position: absolute;
          bottom: 80px;
          left: 39%;
          opacity: 0;
          transition: all .5s;
        }
        div.content {
          position: absolute;
          left: 22%;
          bottom: 50px;
          opacity: 0;
          transition: all .5s;
        }
      }
      div:nth-of-type(2) {
        div.title {
          position: absolute;
          bottom: 80px;
          left: 44%;
        }
        div.content {
          position: absolute;
          left: 26%;
          bottom: 50px;
        }
      }
      div:nth-of-type(3) {
        img {
          width: 332px;
          height: 332px !important;
        }
        &::after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 312px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:hover::after {
          opacity: 1;
        }
        &:hover div.title {
          opacity: 1;
          z-index: 111;
        }
        &:hover div.content {
          opacity: 1;
          z-index: 111;
        }
        div.title {
          position: absolute;
          bottom: 80px;
          left: 45%;
        }
        div.content {
          position: absolute;
          left: 28%;
          bottom: 50px;
        }
      }
    }
    div.middle {
      div.template {
        position: relative;
        img:nth-of-type(1) {
          width: 332px;
          height: 398px;
        }
        img:nth-of-type(2) {
          width: 332px;
          height: 464px;
        }
        &:nth-of-type(1):after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 378px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(1):hover::after {
          opacity: 1;
        }
        &:nth-of-type(1):hover div.title {
          opacity: 1;
          z-index: 1111;
        }
        &:nth-of-type(1):hover div.content {
          opacity: 1;
          z-index: 1111;
        }
        &:nth-of-type(2)::after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 378px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(2):hover::after {
          opacity: 1;
        }
        &:nth-of-type(2):hover div.title {
          opacity: 1;
          z-index: 1111;
        }
        &:nth-of-type(2):hover div.content {
          opacity: 1;
          z-index: 1111;
        }
        div.title {
          position: absolute;
          bottom: 80px;
          left: 45%;
          opacity: 0;
          transition: all .5s;
        }
        div.content {
          position: absolute;
          left: 28%;
          bottom: 50px;
          opacity: 0;
          transition: all .5s;
        }
        &:nth-of-type(1) {
          div.title {
            position: absolute;
            bottom: 80px;
            left: 43%;
            opacity: 0;
            transition: all .5s;
          }
          div.content {
            position: absolute;
            left: 24%;
            bottom: 50px;
            opacity: 0;
            transition: all .5s;
          }
        }
      }
    }
    div.right {
      div.template {
        position: relative;
      }
      div.template:nth-of-type(1) {
        img.imgList:nth-of-type(1) {
          width: 332px;
          height: 332px;
        }
        &:nth-of-type(1):after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 312px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(1):hover::after {
          opacity: 1;
        }
        &:nth-of-type(1):hover div.title {
          opacity: 1;
          z-index: 1111;
        }
        &:nth-of-type(1):hover div.content {
          opacity: 1;
          z-index: 1111;
        }
        div.title {
          position: absolute;
          bottom: 80px;
          left: 44%;
          opacity: 0;
          transition: all .5s;
        }
        div.content {
          position: absolute;
          left: 29%;
          bottom: 50px;
          opacity: 0;
          transition: all .5s;
        }
      }
      div.template:nth-of-type(2) {
        img.imgList:nth-of-type(1) {
          width: 332px;
          height: 224px;
        }
        &:nth-of-type(2):after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 204px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(2):hover::after {
          opacity: 1;
        }
        &:nth-of-type(2):hover div.title {
          opacity: 1;
          z-index: 1111;
        }
        &:nth-of-type(2):hover div.content {
          opacity: 1;
          z-index: 1111;
        }
        div.title {
          position: absolute;
          bottom: 80px;
          left: 43%;
          opacity: 0;
          transition: all .5s;
        }
        div.content {
          position: absolute;
          left: 27%;
          bottom: 50px;
          opacity: 0;
          transition: all .5s;
        }
      }
      div:nth-of-type(3) {
        img:nth-of-type(1) {
          width: 332px;
          height: 240px;
        }
        &:nth-of-type(3):after {
          content: "";
          // display: none;
          opacity: 0;
          width: 312px;
          height: 220px;
          background-color: rgba(252, 252, 252, 0.7);
          position: absolute;
          top: 30px;
          left: 10px;
          transition: all .5s;
        }
        &:nth-of-type(3):hover::after {
          opacity: 1;
        }
        &:nth-of-type(3):hover div.title {
          opacity: 1;
          z-index: 1111;
        }
        &:nth-of-type(3):hover div.content {
          opacity: 1;
          z-index: 1111;
        }
        div.title {
          position: absolute;
          bottom: 80px;
          left: 45%;
          opacity: 0;
          transition: all .5s;
        }
        div.content {
          position: absolute;
          left: 29%;
          bottom: 50px;
          opacity: 0;
          transition: all .5s;
        }
      }
    }
  }
}