div.outer {
  display: flex;
  flex-direction: column;
  div.right-component {
    padding: 25px;
    border: 1px solid rgb(236, 238, 240);
    margin-left: 50px;
    border-radius: 5px;
    margin: 0 0 30px 50px;
    div.title {
      width: 100%;
      height: 43px;
      display: flex;
      background: rgb(34, 34, 34);
      color: #fff;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    // 样式穿透
    ::v-deep.el-input__inner {
      &::placeholder {
        font-size: .9em;
        font-weight: 600;
      }
    }
    div.info {
      div.component {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.img {
          width: 150px;
          margin: 0 auto;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
        p {
          display: flex;
          justify-content: center;
          width: 270px;
          margin: 20px 0 10px 0;
          font-weight: 500;
        }
        a {
          display: flex;
          align-items: center;
          margin-top: 10px;
          color: rgb(18, 20, 22);
          font-weight: 600;
        }
        a:hover {
          color: #999;
        }
        a:hover i{
          color: #999;
        }
      }
    }
    div.contact {
      div.component {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      a {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #222;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
        transition: all .5s;
        i {
          color: #222;
          font-size: 1.1em;
        }
      }
      a:hover {
        background-color: #222;
      }
      a:hover i {
        color: #fff;
      }
    }
    div.categories {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
          display: flex;
          padding: 20px 0;
          border-bottom: 1px solid rgb(223, 226, 230);
          a {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            color: #222;
            font-weight: 500;
          }
        }
      }
    }
    div.popular {
      ul{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
          border-bottom: 1px solid #eceef0;
          a {
            display: flex;
            width: 100%;
            padding: 10px 0;
            color: #222;
            font-weight: 500;
            font-size: .9em;
            div.right {
              display: flex;
              flex-direction: column;
              margin-left: 20px;
              p {
                font-size: .8em;
                display: flex;
                margin-top: 14px;
              }
            }
          }
        }
      }
      img {
        width: 80px;
        height: 53px;
        border-radius: 5px;
      }
    }
    div.tags {
        div.bottom {
          display: flex;
          flex-wrap: wrap;
          div.tag {
            padding: 5px 15px;
            border: 1px solid #dfe2e6;
            margin: 5px 15px;
            border-radius: 5px;
            font-size: .7em;
            font-weight: 500;
            cursor: pointer;
            transition: all .5s;
          }
          div.tag:hover {
            background-color: #222;
            color: #fff;
          }
        }
    }
    div.subscribe {
      p {
        margin-bottom: 15px;
        display: flex;
        color: #807c7c!important;
        font-size: 1em;
        letter-spacing: 1px;
      }
      button {
        width: 100%;
        height: 43px;
        display: flex;
        background: rgb(34, 34, 34);
        color: #fff;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 30px;
      }
      div.input {
        position: relative;
        margin: 10px 0;
        i {
          position: absolute;
          z-index: 100;
          top: 11px;
          left: 15px;
        }
        ::v-deep.el-input__inner {
          padding-left: 40px;
        }
      }
    }
  }
}